.bike-info{
    margin: 20px;
    padding: 10px;
    display: block;
    border: solid green;
    border-radius: 10px;
}
.bike, .status{
    position: absolute;
}
.status{
    display: block;
}
.delete{
    display: block;
    text-align: right;
}
.price, .delete{
    text-align: right;
}
.price{
    margin: 0;
}